<div class="modal fade" id="mask-export-modal" tabindex="-1" aria-labelledby="mask-export-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mask-export-modal-label">Export segmentation mask</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-primary" (click)="exportJSON()">Export as JSON</button>
      </div>
    </div>
  </div>
</div>
