version: "3.9"
services:
  web-app:
    build: ./web-app
    ports:
      - "80:80"
  image-server:
    build: ./image-server
    ports:
      - "8080:8080"
    environment:
      - GDAL_SERVER_URL=http://gdal-server:5000
    volumes:
      - ./data:/usr/src/app/images
  gdal-server:
    build: ./gdal-server
