<div id="bio-image-info" class="mt-4 mb-4">
  <h4>Image</h4>
  <ul class="list-group">
    <li class="list-group-item d-flex">
      <div class="me-3" *ngIf="bioImageInfo">
        <img src="{{ environment.apiUrl }}/api/images/{{ bioImageInfo.id }}/thumbnail" width="128" height="128">
      </div>
      <div class="me-3" *ngIf="bioImageInfo">
        <div><strong>File:</strong> {{ bioImageInfo.originalName }}</div>
        <div><strong>MIME type:</strong> {{ bioImageInfo.mimeType }}</div>
        <div><strong>Resolution:</strong> {{ bioImageInfo.width }} x {{ bioImageInfo.height }}</div>
        <div><strong>Size:</strong> {{ (bioImageInfo.size / 1048576) | number:'1.0-2' }} MB</div>
      </div>
      <div class="spinner-border text-primary" role="status" *ngIf="!bioImageInfo"></div>
    </li>
  </ul>
</div>
