<div id="mask-info-list">
  <h4>Uploaded masks</h4>
  <div class="spinner-border text-primary" role="status" *ngIf="isLoading"></div>
  <div class="alert alert-primary" role="alert" *ngIf="maskMetadataList.length === 0 && !isLoading && isDataLoaded">
    No masks found.
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="!isLoading && !isDataLoaded">
    Failed to retrieve masks from server!
  </div>
  <ul class="list-group" *ngIf="isDataLoaded">
    <li class="list-group-item" *ngFor="let metadata of maskMetadataList">
      <div class="mask-info d-flex">
        <div class="me-3">
          <a href="/images/{{ imageId }}/masks/{{ metadata.id }}">
            <img src="{{ environment.apiUrl }}/api/images/{{ imageId }}/masks/{{ metadata.id }}/thumbnail" width="128" height="128">
          </a>
        </div>
        <div class="me-3">
          <div><strong>File:</strong> {{ metadata.originalName }}</div>
          <div><strong>MIME type:</strong> {{ metadata.mimeType }}</div>
          <div><strong>Resolution:</strong> {{ metadata.width }} x {{ metadata.height }}</div>
          <div><strong>Size:</strong> {{ (metadata.size / 1048576) | number:'1.0-2' }} MB</div>
        </div>
        <div class="me-3">
          <button type="button" class="btn btn-primary" (click)="maskExportComponent.show(imageId, metadata)">Export</button>
        </div>
        <div>
          <button type="button" class="btn btn-danger" (click)="deleteMask(metadata.id)" *ngIf="deletedMaskId !== metadata.id">Delete</button>
          <div class="spinner-border text-primary" role="status" *ngIf="deletedMaskId === metadata.id"></div>
        </div>
      </div>
    </li>
  </ul>
</div>
<app-mask-export></app-mask-export>
