<nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Nanotate Tool</a>
  <ul class="navbar-nav">
    <li class="nav-item" *ngIf="imageMetadata">
      <a class="nav-link" href="/images/{{ imageMetadata.id }}">{{ imageMetadata.originalName }}</a>
    </li>
    <li class="nav-item" *ngIf="imageMetadata && maskMetadata">
      <span class="nav-link">></span>
    </li>
    <li class="nav-item" *ngIf="imageMetadata && maskMetadata">
      <a class="nav-link" href="/images/{{ imageMetadata.id }}/masks/{{ maskMetadata.id }}">{{ maskMetadata.originalName }}</a>
    </li>
  </ul>
  <button type="button" id="help-button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#help-modal">Help</button>
</nav>

<div class="modal fade" id="help-modal" tabindex="-1" aria-labelledby="help-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="help-modal-label">Help</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h6>The image manager screen</h6>
        <p>
          On the image manager screen, images can be uploaded. These will then be converted to a
          suitable format to allow deep zooming. This conversion progress may take some time.
        </p>
        <p>
          When an image has been processed, it will appear in the <em>Uploaded images</em>
          list. From there, it can be opened by clicking its thumbnail. This will take you
          to the segmentation mask screen.
        </p>

        <hr>

        <h6>The segmentation mask screen</h6>
        <p>
          On this screen a segmentation mask can be uploaded for the selected image.
          This will process the mask and add it to the <em>Uploaded masks</em> list.
          Processing a mask should not take long.
        </p>
        <p>
          Once processing is finished, the mask can be selected by clicking its thumbnail.
          This will take you to the annotation screen.
        </p>

        <hr>

        <h6>The annotation screen</h6>
        <p>
          The annotation screen shows the selected image, initially in full screen.
          The image and mask name are displayed in the top menu bar.
          Clicking the image name will return you to the segmentation mask screen.
        </p>
        <p>
          The viewer can be moved around by clicking and dragging the mouse cursor,
          or by using the arrow keys. You can zoom in and out by scrolling, or using the
          zoom controls in the bottom-right corner of the viewer.
        </p>
        <p>
          Image segments can be selected by clicking on them. This will open a popup,
          where the segment's accuracy can be rated. The segment can also be edited,
          simplified or removed.
        </p>
        <p>On the left-hand side is a list of image controls:</p>
        <table class="table table-borderless table-striped mb-3">
          <tbody>
            <tr>
              <td><img src="/assets/expand_less.png"></td>
              <td>Hide/show all buttons.</td>
            </tr>
            <tr>
              <td><img src="/assets/swap_horiz.png"></td>
              <td>Show the image in a split viewer, for easier viewing when annotating.</td>
            </tr>
            <tr>
              <td><img src="/assets/polygon.png"></td>
              <td>
                <div>Draw a new segment using a polygon drawing tool.</div>
              </td>
            </tr>
            <tr>
              <td><img src="/assets/free_draw.png"></td>
              <td>
                <div>Draw a new segment using a freehand drawing tool.</div>
              </td>
            </tr>
            <tr>
              <td><img src="/assets/cut.png"></td>
              <td>
                <div>Cut (parts of) segments using a scissor tool.</div>
              </td>
            </tr>
            <tr>
              <td><img src="/assets/simplify.png"></td>
              <td>
                Simplify all segments' polygons. This will reduce the number
                of vertices and edges.
              </td>
            </tr>
            <tr>
              <td><img src="/assets/delete_inner_rings.png"></td>
              <td>Remove all holes from segments.</td>
            </tr>
            <tr>
              <td><img src="/assets/hand_cursor.png"></td>
              <td>
                <div>Select multiple segments.</div>
              </td>
            </tr>
            <tr>
              <td><img src="/assets/merge.png" class="multi-select"></td>
              <td>
                <div>Merge selected segments.</div>
              </td>
            </tr>
            <tr>
              <td><img src="/assets/convex_hull.png" class="multi-select"></td>
              <td>
                <div>Create convex of selected segments.</div>
              </td>
            </tr>
            <tr>
              <td><img src="/assets/simplify.png" class="multi-select"></td>
              <td>
                <div>Simplify selected segments.</div>
              </td>
            </tr>
            <tr>
              <td><img src="/assets/delete_inner_rings.png" class="multi-select"></td>
              <td>
                <div>Remove holes in selected segments.</div>
              </td>
            </tr>
            <tr>
              <td><img src="/assets/delete.png" class="multi-select"></td>
              <td>
                <div>Remove selected segments.</div>
              </td>
            </tr>
            <tr>
              <td><img src="/assets/statistics.png"></td>
              <td>Show statistics.</td>
            </tr>
            <tr>
              <td><img src="/assets/save.png"></td>
              <td>Save all changes.</td>
            </tr>
            <tr>
              <td><img src="/assets/restore.png"></td>
              <td>
                Restore the segmentation mask to its original state, undoing all
                manual changes and removing grading information.
                <strong>This cannot be reversed!</strong>
              </td>
            </tr>
            <tr>
              <td><img src="/assets/export.png"></td>
              <td>Export this segmentation mask as a JSON file or as a mask image.</td>
            </tr>
          </tbody>
        </table>

        <hr>

        <h6>Exported JSON format</h6>
        <p>The exported JSON has the following format:</p>
        <div class="bg-light">
          <pre><code>&#x0007B;
  <span class="json-string">"features"</span>: [
    &#x0007B;
      <span class="json-string">"geometry"</span>: &#x0007B;
        <span class="json-string">"coordinates"</span>: [
          [[x, y], ...], <strong class="json-note">*</strong>
          ...
        ]
      &#x0007D;,
      <span class="json-string">"properties"</span>: &#x007B;
        <span class="json-string">"fid"</span>: &lt;unique number&gt;,
        <span class="json-string">"grade"</span>: &lt;0 | 1 | 2 | null&gt; <strong class="json-note">**</strong>
      &#x0007D;
    &#x0007D;,
    ...
  ]
&#x0007D;</code></pre>
        </div>

        <table class="table table-borderless">
          <tbody>
            <tr>
              <td class="text-end"><strong class="json-note">*</strong></td>
              <td>x and y coordinates are in pixels.</td>
            </tr>
            <tr>
              <td class="text-end"><strong class="json-note">**</strong></td>
              <td>
                0 represents true positives, 1 represents false positives,
                and 2 represents false negatives.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
