<nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Annotatool</a>
  <ul class="navbar-nav">
    <li class="nav-item" *ngIf="imageMetadata">
      <a class="nav-link" href="/images/{{ imageMetadata.id }}">{{ imageMetadata.originalName }}</a>
    </li>
    <li class="nav-item" *ngIf="imageMetadata && maskMetadata">
      <span class="nav-link">></span>
    </li>
    <li class="nav-item" *ngIf="imageMetadata && maskMetadata">
      <a class="nav-link" href="/images/{{ imageMetadata.id }}/masks/{{ maskMetadata.id }}">{{ maskMetadata.originalName }}</a>
    </li>
  </ul>
  <button type="button" id="help-button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#help-modal">Help</button>
</nav>

<div class="modal fade" id="help-modal" tabindex="-1" aria-labelledby="help-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="help-modal-label">Help</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h6>The main screen</h6>
        <p>
          On the main screen, images can be uploaded. These will then be converted to a suitable
          format to allow deep zooming. This conversion progress may take some time.
        </p>
        <p>
          When an image has been processed, it will appear in the <em>Uploaded images</em>
          list. From there, it can be opened by clicking its thumbnail. This will take you
          to the segmentation mask screen.
        </p>

        <h6>The segmentation mask screen</h6>
        <p>
          On this screen a segmentation mask can be uploaded for the selected image.
          This will process the mask and add it to the <em>Uploaded masks</em> list.
          Processing a mask should not take long.
        </p>
        <p>
          Once processing is finished, the mask can be selected by clicking its thumbnail.
          This will take you to the annotation screen.
        </p>

        <h6>The annotation screen</h6>
        <p>
          The annotation screen shows the selected image, initially in full screen.
          In the bottom-left corner, the name of the selected image is shown.
        </p>
        <p>
          The viewer can be moved around by clicking and dragging the mouse cursor,
          or by using the arrow keys. You can zoom in and out by scrolling, or using the
          zoom controls in the bottom-right corner of the viewer.
        </p>
        <p>
          Image segments can be selected by clicking on them. This will open a popup,
          where the segment's accuracy can be rated. The segment can also be edited,
          simplified or removed.
        </p>
        <p>On the left-hand side is a list of image controls:</p>
        <table class="table table-borderless table-striped mb-3">
          <tbody>
            <tr>
              <td><img src="/assets/expand_less.png"></td>
              <td>Hide/show all buttons.</td>
            </tr>
            <tr>
              <td><img src="/assets/swap_horiz.png"></td>
              <td>Show the image in a split viewer, for easier viewing when annotating.</td>
            </tr>
            <tr>
              <td><img src="/assets/polygon.png"></td>
              <td>
                <div>Draw a new segment using a polygon drawing tool.</div>
                <div>Use <img src="/assets/close.png"> to cancel this operation.</div>
              </td>
            </tr>
            <tr>
              <td><img src="/assets/cut.png"></td>
              <td>
                <div>Cut (parts of) segments using a scissor tool.</div>
                <div>Use <img src="/assets/close.png"> to cancel this operation.</div>
              </td>
            </tr>
            <tr>
              <td><img src="/assets/simplify.png"></td>
              <td>
                Simplify all segments' polygons. This will reduce the number
                of vertices and edges.
              </td>
            </tr>
            <tr>
              <td><img src="/assets/delete_inner_rings.png"></td>
              <td>Remove all holes from segments.</td>
            </tr>
            <tr>
              <td><img src="/assets/grade.png"></td>
              <td>Rate the overall accuracy of the segmentation.</td>
            </tr>
            <tr>
              <td><img src="/assets/save.png"></td>
              <td>Save all changes.</td>
            </tr>
            <tr>
              <td><img src="/assets/export.png"></td>
              <td>Export this segmentation mask as a JSON file or as a mask image.</td>
            </tr>
            <tr>
              <td><img src="/assets/restore.png"></td>
              <td>
                Restore the segmentation mask to its original state, undoing all
                manual changes and removing grading information.
                <strong>This cannot be reversed!</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
