<div class="modal fade" id="mask-export-modal" tabindex="-1" aria-labelledby="mask-export-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mask-export-modal-label">Export mask data</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-2">
          <button type="button" class="btn btn-primary" (click)="exportAnnotationData()" *ngIf="!isLoading">Export JSON</button>
          <div class="spinner-border text-primary" role="status" *ngIf="isLoading"></div>
        </div>
        <div>
          <a class="btn btn-primary" href="{{ environment.apiUrl }}/api/images/{{ imageId }}/masks/{{ maskId }}" download *ngIf="imageId">Export image</a>
        </div>
      </div>
    </div>
  </div>
</div>
