<div class="modal fade" id="mask-export-modal" tabindex="-1" aria-labelledby="mask-export-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mask-export-modal-label">Export mask data</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-2">
          <button type="button" class="btn btn-primary" (click)="exportAnnotationData()" *ngIf="!isLoading">Export JSON</button>
          <div class="spinner-border text-primary" role="status" *ngIf="isLoading"></div>
        </div>

        <hr>

        <div class="container mb-2">
          <div class="row">
            <div class="col">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="includeTruePositives" checked (change)="updateImageUrl()">
                <label class="form-check-label" for="includeTruePositives">Include true positives</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="includeFalsePositives" checked (change)="updateImageUrl()">
                <label class="form-check-label" for="includeFalsePositives">Include false positives</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="includeFalseNegatives" checked (change)="updateImageUrl()">
                <label class="form-check-label" for="includeFalseNegatives">Include false negatives</label>
              </div>
            </div>
            <div class="col">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="export-grayscale" id="export-black-white" checked (change)="updateImageUrl()">
                <label class="form-check-label" for="export-black-white">Black and white</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="export-grayscale" id="export-grayscale" (change)="updateImageUrl()">
                <label class="form-check-label" for="export-grayscale">Grayscale</label>
              </div>
            </div>
          </div>
        </div>
        <div>
          <a class="btn btn-primary" href="{{ imageUrl }}" download *ngIf="imageId">Export image</a>
        </div>
      </div>
    </div>
  </div>
</div>
