<div id="image-info-list">
  <h4>Uploaded images</h4>
  <div class="spinner-border text-primary" role="status" *ngIf="isLoading"></div>
  <div class="alert alert-primary" role="alert" *ngIf="imageInfos.length === 0 && !isLoading && isDataLoaded">
    No images found.
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="!isLoading && !isDataLoaded">
    Failed to retrieve images from server!
  </div>
  <div class="list-group" *ngIf="isDataLoaded">
    <a href="/images/{{ imageInfo.id }}" class="list-group-item list-group-item-action" *ngFor="let imageInfo of imageInfos">
      <div class="image-info">
        <div>
          <img src="{{ environment.apiUrl }}/api/images/{{ imageInfo.id }}/thumbnail" width="128">
        </div>
        <div>
          <div>File: {{ imageInfo.originalName }}</div>
          <div>MIME type: {{ imageInfo.mimeType }}</div>
          <div>Resolution: {{ imageInfo.width }} x {{ imageInfo.height }}</div>
          <div>Size: {{ (imageInfo.size / 1048576) | number:'1.0-2' }} MB</div>
        </div>
        <div>
          <button type="button" class="btn btn-danger" (click)="deleteImage($event, imageInfo.id)" *ngIf="deletedImageId !== imageInfo.id">Delete</button>
          <div class="spinner-border text-primary" role="status" *ngIf="deletedImageId === imageInfo.id"></div>
        </div>
      </div>
    </a>
  </div>
</div>

