<div id="mask-info-list">
  <h4>Uploaded masks</h4>
  <div class="spinner-border text-primary" role="status" *ngIf="isLoading"></div>
  <div class="alert alert-primary" role="alert" *ngIf="maskInfos.length === 0 && !isLoading && isDataLoaded">
    No masks found.
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="!isLoading && !isDataLoaded">
    Failed to retrieve masks from server!
  </div>
  <ul class="list-group" *ngIf="isDataLoaded">
    <li class="list-group-item" *ngFor="let maskInfo of maskInfos">
      <div class="mask-info d-flex">
        <div class="me-3">
          <a href="/images/{{ bioImageId }}/masks/{{ maskInfo.id }}">
            <img src="{{ environment.apiUrl }}/api/images/{{ bioImageId }}/masks/{{ maskInfo.id }}/thumbnail" width="128" height="128">
          </a>
        </div>
        <div class="me-3">
          <div><strong>File:</strong> {{ maskInfo.originalName }}</div>
          <div><strong>MIME type:</strong> {{ maskInfo.mimeType }}</div>
          <div><strong>Resolution:</strong> {{ maskInfo.width }} x {{ maskInfo.height }}</div>
          <div><strong>Size:</strong> {{ (maskInfo.size / 1048576) | number:'1.0-2' }} MB</div>
        </div>
        <div>
          <button type="button" class="btn btn-danger" (click)="deleteMask(maskInfo.id)" *ngIf="deletedMaskId !== maskInfo.id">Delete</button>
          <div class="spinner-border text-primary" role="status" *ngIf="deletedMaskId === maskInfo.id"></div>
        </div>
      </div>
    </li>
  </ul>
</div>

